# install nova, for now, because we have a lot of imports from it :(
git+https://git.openstack.org/openstack/nova@master#egg=nova
six
microversion-parse>=0.2.1 # Apache-2.0
WebOb>=1.7.1 # MIT
Routes>=2.3.1 # MIT
oslo.middleware>=3.31.0 # Apache-2.0
os-traits>=0.4.0 # Apache-2.0
oslo.concurrency>=3.26.0 # Apache-2.0
oslo.db>=4.27.0 # Apache-2.0
oslo.log>=3.36.0 # Apache-2.0
oslo.versionedobjects>=1.31.2 # Apache-2.0
